extends base

block content
  main.main
    .reset-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form.form--reset
        .form__group
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm New Password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Reset Password
